$white: #fff;
$dark: #4e4e4e;
$darker: #333333;
$darkest: #32343c;
$secondary-color: #aa7af8;
$focus-color: #a263e8; //#43abf0;
$accent-color: #a97cf0;
$required-and-error: #b02828;
$body-background: #f5f5f5;
$header-background: $white;
$secondary-background: #f6f4f9;
$scrolled-color: #3f0f72;
$slide-hr: #eae8ec;
$slide-date: #c4c4c4;
$evaluation-background: #090b32;
$f-item: #473e69;
$f-label-placeholder-active: #807d8d;
$badge-color: #9056ec;
$border-grey: #e1e1e1;
$faq-text-color: #6f6f6f;
$faq-side-bar-text: #f1f3f9;

$main-gradient: linear-gradient(89.97deg, #9056ec 0.58%, #bb8fff 79.26%);
$faq-gradient: linear-gradient(89.97deg, #fdd65b 0.58%, #f28a0c 99.97%);

$desktop-min: "min-width: 992px";
$tablet-max: "max-width: 991.98px";
$tablet-mad: "min-width: 768px";
$tablet-mid: "max-width: 767.98px";
$tablet-min: "min-width: 576px";
$mobile-max: "max-width: 575.98px";

$Manrope: "Manrope", sans-serif;

$transition3: 0.3s ease;

$header-height: 109px;

@import "_nullstyle.scss";
@import "_fonts.scss";
@import "_templates.scss";

%row-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin column-size($size, $margin) {
  flex: 0 1 calc($size - $margin * 2);
  max-width: calc($size - $margin * 2);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%link-indent {
  margin: -5px;
  padding: 5px;
}

body {
  font-family: $Manrope;
  color: $dark;
  font-size: 16px;
  font-weight: 400;
  background-color: $body-background;
}
.wrapper {
  min-height: 100vh;
  margin-top: $header-height + 30px;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 100%;
}
.row {
  @extend %row-wrapper;
  @include margin-x(-15px);

  & > * {
    width: 100%;
    @include margin-x(15px);
  }
}
.heading {
  color: $darkest;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.375;
  font-family: $Manrope;

  @media ($tablet-max) and ($tablet-min) {
    font-size: 42px;
  }
  @media ($mobile-max) {
    font-size: 40px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.08);
  background-color: $header-background;
  transition: transform $transition3, box-shadow $transition3,
    background-color $transition3;

  &__container {
    height: $header-height;
    transition: height $transition3;

    @media ($tablet-max) and ($tablet-min) {
      height: 75px;
    }

    // %header-scrolled & {
    //   height: 50px;
    // }
  }

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-wrapper {
    flex-grow: 1;
  }
  // &__logo {
  // }
  &__nav {
    display: flex;
    margin-left: 50px;
    align-items: flex-end;
    flex-direction: column;
  }
  &__contacts {
    @media ($desktop-min) {
      align-items: center;
    }
    @media ($tablet-max) {
      width: 100%;
      margin-top: 40px;
      margin-bottom: auto;
      flex-direction: column;
    }

    .menu-contacts__wrapper {
      margin-right: 3px;
    }
    
    li + li {
      @media ($desktop-min) {
        margin-left: 21px;
      }
      @media ($tablet-max) {
        margin-top: 25px;
      }
    }
  }
  &__list {
    flex-grow: 1;
    align-items: flex-end;

    @media ($tablet-mad) {
      margin-top: 20px !important;

      li + li {
        margin-left: 32px;
      }
    }
    @media ($tablet-max) {
      width: 100%;
      margin-top: auto !important;
      flex-direction: column;
    }
  }

  &._scrolled {
    @extend %header-scrolled;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
  }
  &._menu-opened {
    @extend %menu-opened;
  }
}
.logo {
  display: inline-block;
  @extend %link-indent;

  @media ($desktop-min) {
    transition: transform $transition3;

    &:hover {
      transform: translateY(-2px);
    }
  }
  & svg {
    width: 198px;
    height: auto;
    // transition: width $transition3;

    // %header-scrolled & {
    //   width: 139px;
    // }

    // & path {
    //   transition: fill $transition3;

    //   %header-scrolled & {
    //     fill: $scrolled-color;
    //   }
    // }
  }
}
.menu {
  display: flex;
  line-height: 1.375;

  @media ($tablet-max) {
    position: fixed;
    top: 0;
    right: 0;
    width: 340px;
    bottom: 0;
    padding: 50px 30px 70px;
    overflow: auto;
    flex-direction: column;
    background-color: $secondary-background;
    transform-origin: right center;
    transform: perspective(100px) translateX(100%) rotateY(-20deg);
    transition: transform $transition3, top $transition3;

    %menu-opened & {
      transform: perspective(100px) translateX(0);
    }
  }
  @media ($mobile-max) {
    width: 100%;
  }

  & li {
    display: inline-block;
  }
  &__link {
    display: block;
    color: $darkest;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
    transition: $transition3;
    @extend %link-indent;

    @media ($desktop-min) {
      &:hover {
        color: $accent-color;

        // %header-scrolled & {
        //   color: $secondary-color;
        // }
      }

      // %header-scrolled & {
      //   color: $scrolled-color;
      // }
    }

    @media ($tablet-max) {
      font-size: 20px;
      padding: 20px 0;
      color: $scrolled-color;
    }

    &_active {
      color: $secondary-color;
    }
  }
}
.menu-contacts {
  display: flex;

  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__link {
    position: relative;
    // display: flex;
    align-items: center;
    color: $dark;
    font-size: 14px;
    line-height: 1.357;
    font-weight: 300;
    white-space: nowrap;
    // letter-spacing: 0.088em;
    text-decoration: none;
    transition: color $transition3;
    @extend %link-indent;

    // @media ($tablet-mad) {
    //   &:hover {
    //     color: $secondary-color;

    //     %contact-link-icon {
    //       fill: $secondary-color;

    //       %header-scrolled & {
    //         fill: $secondary-color;
    //       }
    //     }
    //     %header-scrolled & {
    //       color: $secondary-color;
    //     }
    //   }

    //   %header-scrolled & {
    //     color: $scrolled-color;

    //     %contact-link-icon {
    //       fill: $scrolled-color;
    //     }
    //   }
    // }
    // @media ($tablet-max) {
    //   color: $scrolled-color;
    //   font-size: 20px;
    //   justify-content: center;
    // }

    &:not(a) {
      cursor: default;
    }
    &_active {
      color: $secondary-color;
    }
    // svg {
    //   path {
    //     transition: fill $transition3;
    //     @extend %contact-link-icon;

    //     @media ($tablet-max) {
    //       fill: $scrolled-color;
    //     }
    //   }
    // }
  }
  &__link-icon {
    text-decoration: none;

    & + & {
      @media ($desktop-min) {
        margin-left: 10px;
      }
      @media ($tablet-max) {
        margin-top: 25px;
      }
    }
    & + %link-indent {
      margin-left: 10px;
    }
  }
  &__label {
    margin-left: 5px;
  }
  &__link-icon {
    transform: scale(1) translateY(0);
    transition: transform $transition3;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
.phone {
  position: relative;
  font-size: 16px;

  &:hover {
    color: $secondary-color;

    &::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    bottom: 5px;
    opacity: 0;
    transform: translateY(3px);
    border-bottom: 1px solid $secondary-color;
    transition: opacity $transition3, transform $transition3;
  }
  &__accent {
    color: $secondary-color;
    font-size: 17px;
    font-weight: 700;
    margin-left: 3px;
  }
}
.email {
  color: #aa7af8;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.357;
  text-decoration: none;

  &__label {
    text-decoration-line: underline;
  }
}
.timetable {
  font-weight: 300;
}
.address {
  color: $darker;
}
.burger {
  display: none;
  width: 24px;
  height: 19px;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  perspective: 50px;
  background-color: transparent;
  transition: transform $transition3;

  @media ($tablet-max) {
    display: block;
  }

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 20;
    border-radius: 3px;
    perspective: 50px;
    background-color: $white;
    transition: transform 0.6s ease, opacity $transition3;

    @media ($tablet-max) {
      %menu-opened & {
        background-color: $scrolled-color;
      }
    }

    &:nth-child(1) {
      top: 0;

      %menu-opened & {
        transform: translateY(8px) rotateY(180deg) rotateZ(45deg);
      }
    }
    &:nth-child(2) {
      top: 8px;
      transition-delay: 0.2s;

      %menu-opened & {
        transform: rotateY(45deg) rotateZ(90deg);
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: 16px;
      transition-delay: 0.1s;

      %menu-opened & {
        transform: translateY(-8px) rotateY(180deg) rotateZ(-45deg);
      }
    }

    %header-scrolled & {
      background-color: $scrolled-color;
    }
  }

  %menu-opened & {
    transform: rotateY(180deg);
  }
  %header-scrolled%menu-opened & {
    transform: rotateY(180deg) translateY(10px);
  }
}
.main-banner {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  @media ($tablet-mad) {
    min-height: 442px;
  }
  @media ($mobile-max) {
    min-height: 100vh;
  }

  &__background {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-width: 1230px;
    max-width: calc(100% - 100px);
    transform: translateX(-50%);
    border-radius: 10px;
    background: $main-gradient center/cover no-repeat transparent;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% + 98px);
      width: 498px;
      height: 92%;
      bottom: 0;
      background: url("../images/top-up-ad-accounts.png") center bottom/contain
        no-repeat transparent;
    }
  }
  &__container {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;

    @media ($mobile-max) {
      padding-top: 110px;
      text-align: center;
    }

    & > * {
      @media ($desktop-min) {
        max-width: 650px;
      }
      @media ($tablet-max) and ($tablet-min) {
        max-width: 500px;
      }
      @media ($mobile-max) {
        max-width: 100%;
      }
    }
  }
  &__content {
    color: $white;
    display: flex;
    padding-top: 50px;
    align-items: flex-start;
    padding-bottom: 60px;
    flex-direction: column;

    @media ($mobile-max) {
      align-items: center;
      max-width: 350px;
      margin: 0 auto;
    }
  }
  &__heading {
    color: $white;
    font-size: 44px;
    font-weight: 800;
    line-height: 1.3636;
    letter-spacing: 0.03em;

    @media ($tablet-max) and ($tablet-min) {
      font-size: 45px;
    }
    @media ($mobile-max) {
      font-size: 32px;
    }
  }
  &__subheading {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.666;
    margin-top: 30px;
  }
  &__button {
    margin-top: 50px;
    width: 320px;

    @media ($mobile-max) {
      max-width: 190px;
    }
  }
}
.why-we {
  padding: 50px 0;

  // @media ($tablet-max) and ($tablet-mad) {
  //   padding: 75px 0;
  // }
  // @media ($tablet-mid) {
  //   padding: 50px 0;
  // }
  // &__container {
  //   @media ($tablet-max) and ($tablet-mad) {
  //     padding: 0 10px;
  //   }
  //   @media ($tablet-mid) {
  //     flex-direction: column;
  //   }
  // }
  // &__heading {
  // }
  // &__row {
  // }
  &__slides {
    margin-top: 30px;
  }
  &__slide {
    @include column-size(20%, 15px);
  }
}
.ww-slide {
  %ww-slide-gradien {
    background: radial-gradient(
        ellipse at center,
        rgba(233, 220, 255, 0.73) 0%,
        #fff 66.6%
      )
      center/147px 113px no-repeat $white;
  }

  &__wrapper {
    height: 100%;
    padding: 21px 11px 27px;
    @extend %ww-slide-gradien;
    overflow: hidden;
    transform: translateY(0);
    transition: transform $transition3;
    box-shadow: 0px 5.5px 29.7px rgba(0, 0, 0, 0.03);
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: translate(0, 0) scale(1);
      border-radius: 50%;
      transition: opacity $transition3, border-radius $transition3,
        transform $transition3;
      transition-duration: 0.3s, 0.6s, 0.6s;
      transition-delay: 0.1s, 0s, 0s;
      background-color: #e9dcff;
    }

    &:hover {
      transform: translateY(-10px);

      &::before {
        opacity: 1;
        border-radius: 5px;
      }
    }

    @extend %ww-slide-wrapper;
  }

  &:nth-child(1) %ww-slide-wrapper {
    background-position: left bottom;
    background-size: 147px 113px;

    &:not(%ww-slide-wrapper:hover)::before {
      transform: translate(-15%, 20%) scale(0);
    }
  }
  &:nth-child(2) %ww-slide-wrapper {
    background-position: 90% 10%;
    background-size: 135px 76px;

    &:not(%ww-slide-wrapper:hover)::before {
      transform: translate(19%, -22%) scale(0);
    }
  }
  &:nth-child(3) %ww-slide-wrapper,
  &:nth-child(5) %ww-slide-wrapper {
    background-position: 55% 60%;
    background-size: 140px 127px;

    &:not(%ww-slide-wrapper:hover)::before {
      transform: translate(2%, 10%) scale(0);
    }
  }
  &:nth-child(4) %ww-slide-wrapper {
    background-position: 95% 50%;
    background-size: 150px 113px;

    &:not(%ww-slide-wrapper:hover)::before {
      transform: translate(14%, 4%) scale(0);
    }
  }

  &__image-wrapper {
    height: 70px;
    max-width: 85px;
    margin: 0 auto;

    // @media ($mobile-max) {
    //   height: 0;
    // }
  }
  // &__image {
  // }
  &__label {
    cursor: default;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.357;
  }

  // @extend %ww-slide;
}
.free-audit {
  color: $white;
  margin-top: 30px;

  &__wrapper {
    position: relative;
    @extend %row-wrapper;
    align-items: center;
    padding: 23px 124px;
    width: 100%;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: $main-gradient center/cover no-repeat transparent;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 37px;
      width: 67px;
      height: 89px;
      background: url("../images/free-audit.png") center/contain no-repeat
        transparent;
    }
    &::after {
      content: "";
      position: absolute;
      right: -22px;
      width: 193px;
      bottom: -20px;
      height: 88px;
      background: url("../images/wow-background.svg") center/contain no-repeat
        transparent;
    }
  }
  &__column {
    position: relative;

    & + & {
      margin-left: 66px;
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.35;
  }
  &__content {
    margin-top: 5px;
    line-height: 1.375;
  }
  &__button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 182px;
  }
}
.prices {
  padding: 50px 0;

  // &__container {
  // }
  // &__row {
  // }
  // &__heading {
  // }
  &__slides {
    margin-top: 30px;
  }
  &__slide {
    @include column-size(25%, 15px);
  }
}
.prices-slide {
  &__wrapper {
    height: 100%;
    cursor: default;
    padding: 32px 22px;
    box-shadow: 0px 5.5px 29.7px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    background-color: $white;

    @media ($tablet-mad) {
      transform: translateY(0);
      transition: transform $transition3, box-shadow $transition3;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 5.5px 29.7px rgba(0, 0, 0, 0.08);
      }
    }
  }
  &__image-wrapper {
    height: 50px;
    max-width: 140px;
    margin: 0 auto;
  }
  // &__image {
  // }
  &__heading {
    color: $darkest;
    font-size: 18px;
    margin-top: 18px;
    line-height: 1.388;
  }
  &__content {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.357;
  }
  &__sale {
    color: $accent-color;
    font-size: 18px;
    margin-top: 34px;
    font-weight: 800;
    line-height: 1.388;
  }
}
.steps {
  padding: 50px 0;

  // &__container {
  // }
  // &__row {
  // }
  &__column {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  // &__heading {
  // }
  &__list {
    font-size: 20px;
    margin-top: 30px !important;
    line-height: 1.35;
    counter-reset: list;
  }
  &__item {
    cursor: default;
    display: flex;
    position: relative;
    min-height: 40px;
    align-items: center;
    padding-left: 65px;

    & + & {
      margin-top: 23px;
    }
    &::before {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      top: 40%;
      left: 0;
      width: 40px;
      color: $white;
      height: 40px;
      padding: 11px 2px 0 0;
      overflow: hidden;
      font-size: 32px;
      text-align: right;
      font-weight: 700;
      line-height: 1;
      transform: translateY(-40%);
      border-radius: 50%;
      background-color: $badge-color;
    }
  }
  &__wrapper {
    padding: 29px 60px 43px 48px;
    box-shadow: 0px 7px 38px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: $white;
  }
}
.steps-side-bar {
  max-width: 270px;
  flex-basis: 270px;

  &__wrapper {
    height: 100%;
    padding: 33px 21px 210px;
    position: relative;
    background-image: $main-gradient;
  }
  &__background {
    left: 50%;
    width: 221px;
    bottom: 51px;
    height: 125px;
    position: absolute;
    transform: translateX(-50%);
    background: url("../images/steps-background.png") center/contain no-repeat
      transparent;
  }
  &__content {
    color: $white;
    cursor: default;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: -0.01em;
  }
}
.clients {
  padding: 50px 0 20px;

  // &__container {
  // }
  &__row {
    & + & {
      margin-top: 30px;
    }
  }
  // &__heading {
  // }
  &__item {
    @include column-size(16.666%, 15px);
    margin-bottom: 30px;
  }
  &__image-wrapper {
    width: 100%;
    height: 90px;
    background-color: $white;
    box-shadow: 0px 5.5px 29.7px rgba(0, 0, 0, 0.03);
    border-radius: 5px;

    @media ($tablet-mad) {
      transform: translateY(0) scale(1);
      transition: box-shadow $transition3, transform $transition3;

      &:hover {
        transform: translateY(-3px) scale(1.02);
        box-shadow: 0px 5.5px 29.7px rgba(0, 0, 0, 0.08);
      }
    }
    @extend %clients-image-wrapper;
  }
  &__image {
    padding: 20px;

    @media ($tablet-mad) {
      transition: transform $transition3;

      %clients-image-wrapper & {
        transform: translate(-50%, -50%) scale(0.95);
      }
    }
  }
}
.experts {
  padding: 50px 0;

  // &__container {
  // }
  &__row {
    & + & {
      margin-top: 30px;
    }
  }
  // &__heading {
  // }
  &__content {
    font-size: 18px;
    max-width: 830px;
    margin-top: 30px;
    font-weight: 400;
    line-height: 30px;
  }
  &__slide {
    @include column-size(16.6666%, 15px);
  }
  &__image-wrapper {
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 149.5%;
    box-shadow: 0 5.5px 29.7px rgba(0, 0, 0, 0.03);

    @media ($tablet-mad) {
      transform: scale(1) translateY(0);
      transition: transform $transition3, box-shadow $transition3;

      &:hover {
        transform: scale(0.97) translateY(2px);
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
      }
    }
  }
  // &__image {
  // }
}
.faq {
  padding: 50px 0;

  // &__container {
  // }
  // &__row {
  // }
  &__column {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  &__wrapper {
    height: 100%;
    padding: 29px 40px 44px 48px;
    box-shadow: 0px 7px 38px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: $white;
  }
  &__heading {
    margin-bottom: 17px;
  }
  // &__list {
  // }
  // &__item {
  // }
}
.faq-item {
  border-bottom: 1px solid $border-grey;

  &._active {
    @extend %faq-item-active;
  }
  &._not-active {
    @extend %faq-item-not-active;
  }
  & + & {
    margin-top: 11px;
  }
  &__button {
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    text-align: left;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
    background-color: transparent;

    @media ($tablet-mad) {
      &:hover {
        @extend %faq-item-button-hover;
      }
    }
  }
  &__heading {
    color: $dark;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.388;
    letter-spacing: normal;

    @media ($tablet-mad) {
      transform: translateX(0);
      transition: transform $transition3;

      %faq-item-button-hover & {
        transform: translateX(2px);
      }
    }
  }
  &__button-icon {
    width: 30px;
    height: 30px;
    opacity: 1;
    text-align: center;
    flex-shrink: 0;
    margin-left: 30px;
    line-height: 26.5px;
    border-radius: 50%;
    background-color: $badge-color;
    transition: opacity $transition3, transform $transition3;

    @media ($tablet-mad) {
      transform: scale(1);

      %faq-item-button-hover & {
        transform: scale(1.2);
      }
    }

    & svg {
      width: 10px;
      height: 10px;
      transform: rotate(0);
      transition: transform $transition3;

      & #hide-to-minus {
        opacity: 1;
        transition: opacity $transition3;
      }
    }

    %faq-item-not-active & {
      opacity: 0.3;
    }
    %faq-item-active & {
      & svg {
        transform: rotate(90deg);

        & #hide-to-minus {
          opacity: 0;
        }
      }
    }
  }
  &__answer-wrapper {
    height: 0;
    opacity: 0;
    position: relative;
    margin-top: 8px;
    visibility: hidden;
    padding-right: 70px;
    transition: opacity $transition3, visibility $transition3,
      height $transition3;
    transition-delay: 0s, 0s, 0.1s;

    %faq-item-active & {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.2s, 0.2s, 0.1s;
    }
  }
  &__answer {
    color: $faq-text-color;
    line-height: 1.375;
    padding-bottom: 25px;
  }
}
.faq-side-bar {
  max-width: 270px;
  flex-basis: 270px;
  text-align: center;

  &__wrapper {
    height: 100%;
    display: flex;
    padding: 20px 20px 43px;
    position: relative;
    flex-direction: column;
    background-image: $faq-gradient;
  }
  &__background {
    top: 187px;
    left: 50%;
    width: 288px;
    height: 288px;
    position: absolute;
    transform: translateX(-50%);
    background: url("../images/your-answer.png") center/contain no-repeat
      transparent;
  }
  &__heading {
    color: $faq-side-bar-text;
    margin: 0 -20px;
    font-size: 79px;
    font-weight: 800;
    line-height: 1.367;
  }
  &__content {
    color: $white;
    flex-grow: 1;
    font-size: 20px;
    margin-top: 24px;
    font-weight: 800;
    line-height: 1.35;
  }
  &__button {
    width: 100%;
    margin-top: 247px;
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
.contacts {
  color: $white;
  margin: 50px 0;
  position: relative;

  &__backgrouns {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-width: 1230px;
    max-width: calc(100% - 100px);
    transform: translateX(-50%);
    border-radius: 10px;
    background: $main-gradient center/cover no-repeat transparent;

    &::before {
      content: "";
      position: absolute;
      left: -28px;
      width: 303px;
      height: 276px;
      bottom: 0;
      background: url("../images/contacts-01-background.png") left
        bottom/contain no-repeat transparent;
    }
    &::after {
      content: "";
      position: absolute;
      top: 53px;
      right: -39px;
      width: 295px;
      height: 390px;
      background: url("../images/contacts-02-background.png") left
        bottom/contain no-repeat transparent;
    }
  }
  &__container {
    padding-top: 33px;
    padding-bottom: 71px;
  }
  &__row {
    position: relative;

    & + & {
      margin-top: 30px;
    }
  }
  &__heading {
    color: inherit;
  }
  &__column {
    &:nth-child(1) {
      @include column-size(42%, 15px);
    }
    &:nth-child(2) {
      @include column-size(58%, 15px);
    }
  }
  &__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }
}
.map {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.form {
  color: $white;

  &__row {
    @include margin-x(-7.5px);
  }

  &__item {
    position: relative;
    @include margin-x(7.5px);
    margin-bottom: 16px;

    %f-item-element {
      //border: 2px solid $f-item;
      border: none;
      border-radius: 5px;
      background-color: $white;
    }
    %f-checkbox-pseudo {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 22px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &_half {
      @include column-size(50%, 7.5px);
    }
    &_more-gap {
      margin-bottom: 27px;
    }
  }
  &__label {
    color: $faq-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;

    &_placeholder {
      position: absolute;
      top: 14px;
      left: 25px;
      cursor: default;
      user-select: none;
      pointer-events: none;
      transform-origin: left top;
      transition: transform $transition3, color $transition3;
      transform: translate(0, 0) scale(1);

      &_active {
        color: $white;
        font-weight: 400;
        transform: translate(-22px, -34px) scale(0.75);
      }
    }
  }
  &__input {
    width: 100%;
    color: $dark;
    padding: 15px 25px;
    @extend %f-item-element;
    @extend %f-item-input;

    &_error%f-item-input {
      border-color: $required-and-error;
    }
    &_valid%f-item-input {
      background: url("../images/check-green.svg") 98% 17px/15px auto no-repeat
        transparent;
      background-position: right 15px top 17px;
    }

    &:focus-visible {
      box-shadow: 0 0 10px $white !important;
    }
  }
  & textarea%f-item-input {
    margin: 0;
    min-height: 113px;
  }
  // &__checkbox {
  //   & ~ label {
  //     color: $white;
  //     cursor: pointer;
  //     display: block;
  //     position: relative;
  //     font-size: 15px;
  //     padding-left: 36px;

  //     &:before {
  //       @extend %f-item-element;
  //       @extend %f-checkbox-pseudo;
  //     }
  //     &:after {
  //       @extend %f-checkbox-pseudo;
  //       opacity: 0;
  //       background: url("../images/check.svg") 6px 3px / auto no-repeat
  //         transparent;
  //       transition: opacity $transition3, background-position $transition3;
  //     }
  //   }
  //   &:focus,
  //   &:focus-visible {
  //     & ~ label {
  //       &:before {
  //         @include focus-styles;
  //       }
  //     }
  //   }
  //   &:focus:not(:focus-visible) {
  //     & ~ label {
  //       &:before {
  //         @extend %focus-styles-disable;
  //       }
  //     }
  //   }
  //   &:checked {
  //     & ~ label {
  //       &:after {
  //         opacity: 1;
  //         background-position: 6px 5px;
  //       }
  //     }
  //   }
  // }
  &__error-message {
    font-size: 14px;
    color: $required-and-error;

    @media ($mobile-max) {
      font-size: 13px;
      margin-bottom: 0;
      padding-bottom: 3px;
    }

    &_active {
      margin: 3px 0 -10px;

      @media ($tablet-max) {
        margin-bottom: 0;
      }
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: space-between;

    @media ($desktop-min) {
      align-items: center;
    }
    @media ($tablet-max) {
      flex-direction: column;
    }
  }
  &__personal-data {
    color: $white;
    font-size: 12px;

    @media ($tablet-mid) {
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: underline;

      @media ($desktop-min) {
        transition: color $transition3;

        &:hover {
          color: $white;
        }
      }
    }
  }
  &__button {
    min-width: 169px;
    font-size: 14px;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    @media ($desktop-min) {
      margin-right: 20px;
    }
    @media ($tablet-max) {
      margin-top: 25px;
      align-self: center;
    }
  }
}
.footer {
  padding-top: 50px;

  &__main {
    box-shadow: 0 7px 38px rgba(0, 0, 0, 0.03);
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: $white;
  }
  // &__container {
  // }
  // &__row {
  // }
  &__column {
    &:nth-child(1) {
      @include column-size(42%, 15px);
    }
    &:nth-child(2),
    &:nth-child(3) {
      @include column-size(29%, 15px);
    }
    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }
  // &__inner {
  // }
  // &__logo {
  // }
  &__company {
    font-size: 18px;
    line-height: 1.666;

    &_name {
      margin-top: 16px;
    }
    // &_unp {
    // }
  }
  &__menu {
    align-items: flex-start;
    flex-direction: column;

    li {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }
  &__contacts {
    flex-direction: column;

    li + li {
      margin-top: 10px;
    }
  }
  &__basement {
    color: $white;
    padding: 12px 0;
    background-color: $badge-color;

    &-content {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1030;
  display: block;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $transition3, visibility $transition3;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}
.thank-you-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1000;
  padding: 25px 20px 20px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  min-width: 250px;
  text-align: center;
  visibility: hidden;
  border-radius: 9px;
  background-color: $secondary-background;
  transition: opacity $transition3, visibility $transition3;

  &_active {
    z-index: 1050;
    opacity: 1;
    visibility: visible;
  }
  &__close-button {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));

    &%my-gallery-close-pseudo {
      content: "";
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: $dark;
    }
    &:before {
      @extend %my-gallery-close-pseudo;
      transform: rotate(-45deg);
    }
    &:after {
      @extend %my-gallery-close-pseudo;
      transform: rotate(45deg);
    }
  }
  span {
    margin: 30px;
    display: block;
  }
  hr {
    border: none;
    margin: 5px 0 5px;
    border-bottom: 2px solid #eae8ec;
  }
}
@import "_mygallery.scss";
